#NavElement {
    --w-padding: 1vw;
    --h-padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding-left: var(--w-padding);
    padding-right: var(--w-padding);
    padding-top: var(--h-padding);
    padding-bottom: var(--h-padding);
    width: fit-content;
    height: fit-content;
    transition-duration: 0.1s;
    user-select: none;
    font-family: var(--font-fam);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.75vh;
    z-index: 1;
}

#NavElement:hover{
    background-color: #ff0000;
    color: #ffffff;
    transition-duration: 0.2s;
    cursor: default;
    z-index: 1;
}