* {
    font-family: Verdana;
}

#logo_container {
    padding: 0;
    height: 30vh;
    width: 100vw;
    margin-bottom: 3vh;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}

#social_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#social_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

#about_cards_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100%;
    /*background-color: #ff0c1a;*/
}

#about_cards_wrapper {
    padding: 0;
    margin-bottom: 4vh;
}

.about_cards {
    text-align: center;
}

/*#emp_profiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.emp_profile {
    max-width: 10vw;
    max-height: 100%;
    min-width: fit-content;
    min-height: fit-content;
    margin: 0 1vw;
}*/

#agb_container {
    margin: 4vh 0;
}